<form>
  <div id="principal">
    <div id="conteudo">
      <legend>Cadastro</legend>

      <div class="Divzada">
        <p>Nome:</p>

        <input type="text" id="Nome" class="InputUsu" />
      </div>

      <div class="Divzada">
        <p>Email:</p>

        <input type="email" id="Email" class="InputUsu" />
      </div>
      <div class="Divzada">
        <p>Senha:</p>

        <input type="password" id="Senha" class="InputUsu" />
      </div>
      <div class="Divzada">
        <p>Confirmar Senha:</p>

        <input type="password" id="ConfirmarSenha" class="InputUsu" />
      </div>
      <div class="Divzada">
        <p>CPF:</p>

        <input type="text" id="cpf" class="InputUsu" />
      </div>
      <div class="Divzada">
        <p>Telefone:</p>
        <input type="text" id="Telefone" class="InputUsu" />
      </div>
      <div id="cadastros">
        <button type="button" id="cadastrar" onclick="valida()">
          Cadastrar
        </button>
      </div>
    </div>
  </div>
</form>
