<div id="main-header">
  <a [routerLink]="['/vitrine']" routerLinkActive="router-link-active">
    <img src="../../assets/img/padoca.png" alt="Home" width="70" height="54" />
  </a>

  <div id="search">
    <input
      type="text"
      name="search"
      id="search-text"
      placeholder="Buscar Produto"
      autocomplete="off"
    />
    <a>
      <input
        type="button"
        value="Ok"
        id="search-button"
        [routerLink]="['/produto-busca']"
        routerLinkActive="router-link-active"
      />
    </a>
  </div>

  <a [routerLink]="['/login']" routerLinkActive="router-link-active">
    <img
      src="../../assets/img/cadastrar.svg"
      alt="Home"
      width="70"
      height="50"
    />
  </a>
</div>
