<div id="main-header">
  <a [routerLink]="['/vitrine']" routerLinkActive="router-link-active">
    <img src="../../assets/img/home.svg" alt="Home" width="70" height="54" />
  </a>
  <div id="search">
    <input type="text" name="search" id="search-text" />
    <input type="button" value="Search" id="search-button" />
  </div>
  <a [routerLink]="['/login']" routerLinkActive="router-link-active">
    <img
      src="../../assets/img/cadastrar.svg"
      alt="Home"
      width="70"
      height="50"
    />
  </a>
</div>
