<div id="pageSearch">
  <div class="topline"></div>
  <div class="menu">
    <p>Menu</p>
  </div>
  <div class="downline"></div>

  <div id="componentBody">
    <div class="textBody">Pesquisa por:</div>
    <div id="imgConfig">
    <img src="../../assets/img/trakinas.jpg"
    alt="trakinas"
    width="300"
    height="300"/>
    <img src="../../assets/img/passatempo.jpg"
    alt="passatempo"
    width="300"
    height="300"/>
    <img src="../../assets/img/bauducco.jpg"
    alt="bauducco"
    width="300"
    height="300"/>
    <img src="../../assets/img/bauducco2.jpg"
    alt="bauducco2"
    width="230"
    height="230"/>
    <img src="../../assets/img/bono.jpg"
    alt="bono"
    width="300"
    height="300"/>
    <img src="../../assets/img/toddy.jpg"
    alt="toddy"
    width="300"
    height="300"/>
    <img src="../../assets/img/toddy2.jpg"
    alt="toddy2"
    width="300"
    height="300"/>
    <img src="../../assets/img/oreo.jpg"
    alt="oreo"
    width="300"
    height="300"/>
    <img src="../../assets/img/panco.jpg"
    alt="panco"
    width="300"
    height="300"/>
</div>
  </div>
 

</div>
<script>

</script>
