<div id="pageSearch">
  <div class="topline"></div>
  <div class="menu">
    <p>Menu</p>
  </div>
  <div class="downline"></div>

  <div id="componentBody">
    <div class="textBody">
      <p> Pesquisa por: {{ produtosObject.descricao }}</p>
    </div>
    <div id="imgConfig">
      <img :src="importImag()" alt="imagem do produto" width="300" height="300" />
    </div>
  </div>
</div>
<script>
  export default {
    methods: {
      importImag() {
        return require(`../../assets/img/${this.produtosObject.imagem}.jpg`);
      }
    }
  }

</script>