<app-header></app-header>
<div id="pageSearch">
  <app-menu></app-menu>
  <div class="textBody">
    <span> Pesquisa por: </span>
  </div>
  <div id="divWarning" *ngIf="descricaoUndefined">
    <p id="warning">Digite um item a ser buscado!</p>
  </div>
  <div id="componentBody" *ngIf="!descricaoUndefined">
    <div *ngFor="let produtos of produtosObject | keyvalue" id="produto">
      <div
        id="linkDetalhe"
        [routerLink]="['/produto-detalhe']"
        [queryParams]="{ codigo: produtos.key }"
        routerLinkActive="router-link-active"
      >
        <ng-container
          *ngFor="let produto of $any(produtos.value) | keyvalue : returnZero"
        >
          <div
            [ngSwitch]="produto.key"
            id="linkDetalhe"
            [routerLink]="['/produto-busca']"
            routerLinkActive="router-link-active"
          >
            <img
              *ngSwitchCase="'imagem'"
              src="{{ produto.value }}"
              alt="imagem de produto"
              width="200"
              height="200"
            />
            <h4 *ngSwitchCase="'preco'">R$ {{ produto.value }}</h4>
            <p *ngSwitchCase="'descricao'" id="descricao">
              {{ produto.value }}
            </p>
          </div>
        </ng-container>
      </div>
      <div class="cesta">
        <a>
          <input
            type="button"
            value="Comprar"
            id="comprar"
            [routerLink]="['/cesta']"
            routerLinkActive="router-link-active"
          />
        </a>
      </div>
    </div>
  </div>
</div>
