<div id="menuCompleto">
  <div class="topline"></div>
  <div class="menu">
    <nav>
      <ul>
        <li>
          <a
            id="linkVitrine"
            [routerLink]="['/vitrine']"
            routerLinkActive="router-link-active"
            >VITRINE</a
          >
        </li>
        <li>
          <a
            id="linkBusca"
            [routerLink]="['/produto-busca']"
            routerLinkActive="router-link-active"
            >PRODUTOS</a
          >
        </li>
        <li>
          <a [routerLink]="['/login']" routerLinkActive="router-link-active"
            >LOGIN</a
          >
        </li>
      </ul>
    </nav>
  </div>
  <div class="downline"></div>
</div>
