<app-header></app-header>
<div id="pageCesta">
  <app-menu></app-menu>
  <div class="textBody">
    <span> Sua Cesta </span>
    <img src="../../assets/img/cestinha.png" width="30" height="24" />
  </div>
  <div id="componentBody">
    <table>
      <thead>
        <tr>
          <th class="cabecalho" colspan="1">Item</th>
          <th class="cabecalho" colspan="1">Qtd</th>
          <th class="cabecalho" colspan="1">Valor</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngFor="let item of carrinho">
          <tr>
            <td colspan="1">{{ item.descricaoproduto }}</td>
            <td colspan="1">{{ item.quantidade }}x</td>
            <td colspan="1">R$ {{ item.valortotal.toFixed(2) }}</td>
          </tr>
        </ng-container>
        <tr>
          <td colspan="1"></td>
          <td class="total" colspan="1">Valor Total:</td>
          <td class="total" colspan="1">R$ {{ valorTotal.toFixed(2) }}</td>
        </tr>
      </tbody>
    </table>
    <div class="itemsCesta">
      <input type="button" value="Limpar Cesta" id="limpar" />
      <input type="button" value="Finalizar Compra" id="finalizar" />
    </div>
  </div>
</div>
<body>
  <div class="caralhos"></div>
</body>
