<app-header></app-header>
<div id="pageVitrine">
  <app-menu></app-menu>
  <div id="componentBody">
    <div *ngFor="let produtos of produtosObject | keyvalue" id="produto">
      <div
        id="linkDetalhe"
        [routerLink]="['/produto-detalhe']"
        [queryParams]="{ codigo: produtos.key }"
        routerLinkActive="router-link-active"
      >
        <ng-container
          *ngFor="let produto of $any(produtos.value) | keyvalue : returnZero"
        >
          <ng-container [ngSwitch]="produto.key">
            <img
              *ngSwitchCase="'imagem'"
              src="{{ produto.value }}"
              alt="imagem de produto"
              width="200"
              height="200"
            />
            <h4 *ngSwitchCase="'preco'" id="preco">R${{ produto.value }}</h4>
            <p *ngSwitchCase="'descricao'" id="descricao">
              {{ produto.value }}
            </p>
          </ng-container>
        </ng-container>
      </div>
      <button
        id="comprar"
        [routerLink]="['/cesta']"
        routerLinkActive="router-link-active"
      >
        Comprar
      </button>
    </div>
  </div>
</div>
