<div id="pageVitrine">
  <div class="topline"></div>
  <div class="menu">
    <p>Menu</p>
  </div>
  <div class="downline"></div>

  <div id="componentBody">
    <div *ngFor="let produtos of produtosObject | keyvalue" id="produto">
      <ng-container
        *ngFor="let produto of $any(produtos.value) | keyvalue : returnZero"
      >
        <div
          [ngSwitch]="produto.key"
          id="linkDetalhe"
          [routerLink]="['/detalhes']"
          routerLinkActive="router-link-active"
        >
          <img
            *ngSwitchCase="'imagem'"
            src="{{ produto.value }}"
            alt="imagem de produto"
            width="200"
            height="200"
          />
          <h4 *ngSwitchCase="'preco'">R${{ produto.value }}</h4>
          <p *ngSwitchDefault id="descricao">{{ produto.value }}</p>
        </div>
      </ng-container>
      <button id="comprar">Comprar</button>
    </div>
  </div>
</div>
